{{define "page-2"}}
{{template "header"}}
<h1>Pagina 2</h1>
<hr>
<p>Contenuto della pagina 2</p>
{{template "footer"}}
{{end}}

{{define "page-3"}}
{{template "header"}}
<h1>Pagina 3</h1>
<hr>
<p>Contenuto della pagina 3</p>
{{template "footer"}}
{{end}}